///*------------------------------------*\
//    #SETTINGS-COMMON
//\*------------------------------------*/

// Roboto path
$roboto-font-path: "../libs/roboto-fontface/fonts";

// Material Design Icons path

$mdi-font-path: "../libs/mdi/fonts";

// Override defaults
$base-background-color: #fff;
$mdi-font-name: "$materialdesignicons-webfont";